.MainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  grid-row: 2 / 4;
  grid-column: 3 / 13;
  width: 100%;
  border-radius: $border-radius-container-l $border-radius-container-l 0 0;
  border: $border-default-subdued;
  overflow-y: auto;
  background-color: $color-background-alternative;
}
