@import '../../../../styles/variables.scss';

.Content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8em 12em;

  h1 {
    padding-bottom: $spacing-vertical-3xl;
    font-weight: 700;
  }
  h6 {
    font-weight: 700;
    padding-bottom: $spacing-vertical-s;
  }

  small {
    font: $font-scale-metadata-xs;
    background-color: $color-surface-brand-medium;
    padding: $padding-xs $padding-s;
  }
}

.comment-container {
  display: flex;
  gap: $spacing-horizontal-xl;
  padding-top: $padding-2xl;
  border-top: $border-default-subdued;
  a {
    color: $color-text-tertiary;
    transition: 0.2s ease-in-out;
    font: $font-scale-paragraph-medium-m;
  }

  span {
    color: $color-text-disabled;
  }
}

.colorPaletteGroup {
  display: flex;
  flex-direction: column;
  padding: $padding-3xl 0;
  gap: $padding-xl;
  .content-items {
    padding: 0;
  }
}
